<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- CSS only -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <style>
      .product {
        width: 30%;
      }
      form {
        width: 50%;
      }
    </style>
  </head>
  <body>
    <div id="app" class="container">
      <!-- loading -->
      <loading :active.sync="isLoading"></loading>

      <div class="d-flex justify-content-between mb-5">
        <div
          class="card product mt-4"
          v-for="(item, index) in this.productList"
          style="width: 30%"
        >
          <div
            style="
              height: 150px;
              background-size: cover;
              background-position: center;
            "
            :style="{backgroundImage: `url(${item.imageUrl})`}"
          ></div>
          <div class="card-body">
            <span class="badge badge-secondary float-right ml-2"
              >{{ item.category }}</span
            >
            <h5 class="card-title">
              <a href="#" class="text-dark">{{ item.title }}</a>
            </h5>
            <p class="card-text" v-html="item.content">{{ item.content }}</p>
            <div class="d-flex justify-content-between align-items-baseline">
              <div v-if="!item.price" class="h5">
                {{ item.origin_price }} 元
              </div>
              <div v-else>
                <del class="h6">原價 {{ item.origin_price }} 元</del>
                <div class="h5">現在只要 {{ item.price }} 元</div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-outline-promary">加入購物車</button>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center">
        <h2 class="h2">收件資訊</h2>
        <validation-observer
          v-slot="{ invalid }"
          class="col-md-12 d-flex justify-content-center"
        >
          <form @submit.prevent="createOrder">
            <div class="form-group">
              <validation-provider
                v-slot="{ errors, classes }"
                rules="required"
              >
                <label for="name">收件人姓名</label>
                <input
                  name="姓名"
                  class="form-control"
                  type="text"
                  id="name"
                  v-model="receivement.name"
                  :class="classes"
                />
                <span v-if="errors[0]" class="text-danger"
                  >{{ errors[0] }}</span
                >
              </validation-provider>
            </div>
            <div class="form-group">
              <validation-provider
                v-slot="{ errors, classes }"
                rules="required"
              >
                <label for="mail">Email</label>
                <input
                  name="Email"
                  class="form-control"
                  type="text"
                  id="mail"
                  v-model="receivement.mail"
                  :class="classes"
                />
                <span v-if="errors[0]" class="text-danger"
                  >{{ errors[0] }}</span
                >
              </validation-provider>
            </div>
            <div class="form-group">
              <validation-provider
                v-slot="{ errors, classes }"
                rules="required|min:8"
              >
                <label for="tel">電話</label>
                <input
                  name="電話"
                  class="form-control"
                  type="tel"
                  id="tel"
                  v-model="receivement.phone"
                  :class="classes"
                />
                <span v-if="errors[0]" class="text-danger"
                  >{{ errors[0] }}</span
                >
              </validation-provider>
            </div>
            <div class="form-group">
              <validation-provider
                v-slot="{ errors, classes }"
                rules="required"
              >
                <label for="address">地址</label>
                <input
                  name="地址"
                  class="form-control"
                  type="text"
                  id="address"
                  v-model="receivement.address"
                  :class="classes"
                />
                <span v-if="errors[0]" class="text-danger"
                  >{{ errors[0] }}</span
                >
              </validation-provider>
            </div>
            <div class="form-group">
              <validation-provider
                v-slot="{ errors, classes }"
                rules="required"
              >
                <label for="payType">購買方式</label>
                <select
                  name="購買方式"
                  v-model="receivement.payType"
                  class="form-control"
                  required
                  :class="classes"
                >
                  <option value="" disabled>請選擇付款方式</option>
                  <option value="WebATM">WebATM</option>
                  <option value="ATM">ATM</option>
                  <option value="CVS">CVS</option>
                  <option value="Barcode">Barcode</option>
                  <option value="Credit">Credit</option>
                  <option value="ApplePay">ApplePay</option>
                  <option value="GooglePay">GooglePay</option>
                </select>
                <span v-if="errors[0]" class="text-danger"
                  >{{ errors[0] }}</span
                >
              </validation-provider>
            </div>
            <div class="form-group">
              <label for="content">留言</label>
              <textarea
                name="留言"
                class="form-control"
                name=""
                id="content"
                cols="30"
                rows="10"
              ></textarea>
            </div>
            <div>
              <button class="btn btn-outline-secondary" type="reset">
                清除
              </button>
              <button class="btn btn-primary" type="submit" :disabled="invalid">送出</button>
            </div>
          </form>
        </validation-observer>
      </div>
    </div>

    <!-- JS, Popper.js, and jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/3.3.0/vee-validate.full.min.js"></script>
    <script type="module" src="./all.js"></script>
  </body>
</html>
